body{
  height:100%;
  padding:0px;
  margin:0px;
  font-family:Helvetica, Arial, sans-serif;
  background-color: #4B4;
  color:white;
}
h1{
  margin:5px;
  color:white;
}
#blocklyFrame{
  width:100%;
  height:85%;
  border:none;
  padding:0px;
  margin:0px;
}
#logo{
  padding-left:15px;
  color:white;
}
#logo img{
  position:relative;
  float:left; 
  right:15px;
  width:70px;
}
menu{
  padding:0px;margin:0px;
}
menu a{
  text-decoration: none;
  color:black;
}
menu li{
  list-style-type: none;
  background-color:#ccc;
  text-decoration: none;
  margin:0px 5px 0px 3px;
  padding:10px;
  display:inline-block;
  border-radius:5px 5px 0px 0px;
}
menu li:hover{
  background-color:#ddd;
}
menu li img{
  margin-bottom:-4px;
}
#addBlocksDialog{
  color:black;
  padding:15px;
}
/*
.popout{
  position:absolute;
  display:none;
  color:black;
  list-style-type: none;
  background-color:#ccc;
  text-decoration: none;
  margin:0px 5px 0px 3px;
  padding:10px;
  border-radius:0px 0px 5px 5px;
}
.popout a{
  color:blue;
}
.popout a:hover{
  color:green;
}*/